/* ================================
   Container Utility
================================ */
.container {
  max-width: 90rem; /* 7xl = 1280px */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem; /* px-6 */
  padding-right: 1.5rem;
  padding-top: 1rem; /* py-4 */
  padding-bottom: 1rem;
}

.containers {
  max-width: 110rem; /* 7xl = 1280px */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem; 
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}